artifacts/packetEPD.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PacketEPD">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ED101" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AccDoc">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="AccDocNo" use="optional"/>
                      <xs:attribute type="xs:date" name="AccDocDate" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="Payer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Name"/>
                    <xs:element name="Bank">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:int" name="BIC" use="optional"/>
                            <xs:attribute type="xs:integer" name="CorrespAcc" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Payee">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Name"/>
                    <xs:element name="Bank">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:int" name="BIC" use="optional"/>
                            <xs:attribute type="xs:integer" name="CorrespAcc" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="Purpose"/>
            </xs:sequence>
            <xs:attribute type="xs:long" name="EDAuthor" use="optional"/>
            <xs:attribute type="xs:date" name="EDDate" use="optional"/>
            <xs:attribute type="xs:short" name="EDNo" use="optional"/>
            <xs:attribute type="xs:byte" name="TransKind" use="optional"/>
            <xs:attribute type="xs:byte" name="Priority" use="optional"/>
            <xs:attribute type="xs:byte" name="SystemCode" use="optional"/>
            <xs:attribute type="xs:short" name="Sum" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:long" name="EDAuthor"/>
      <xs:attribute type="xs:date" name="EDDate"/>
      <xs:attribute type="xs:int" name="EDNo"/>
      <xs:attribute type="xs:short" name="EDQuantity"/>
      <xs:attribute type="xs:byte" name="SystemCode"/>
      <xs:attribute type="xs:int" name="Sum"/>
    </xs:complexType>
  </xs:element>
</xs:schema>